.cart {
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 275px;
  background-color: #222;
  padding: 20px;
}

.cart-button {
  align-items: center;
  background: #222;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
}

input:checked ~ .cart {
  display: block;
  height: 100%;
}

.cartProducts {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  height: 100%;
}

.cartProducts::-webkit-scrollbar {
  width: 10px;
}

.cartProducts::-webkit-scrollbar-thumb {
  background-color: #FFF; 
  border-radius: 5px;
}

.cartProducts::-webkit-scrollbar-thumb:hover {
  background-color: #C5C5C5;
}

.cartProduct img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.cartProduct{
  text-align: center;
  padding: 6px;
  border-bottom: #2a2a2a 2px solid;
  margin: 8px;
}

.cartProducts:first-child {
  margin-top: 30px;
}

.quantity {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.quantity input {
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.removeFromCartBtn {
  width: 2em;
  height: 2em;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}